.relative{
    height: 100px;
    width: 100px;
    background: #000;
    position: relative;
    border: 2px solid black;
    opacity: 4;
}

.absolute{
    left: 20px;
    top: 60px;
    background: rgb(160, 2, 2);
    position: absolute;
    height: 80px;
    width: 50px;
    border: 2px solid rgb(34, 218, 21);
    z-index: 0;
    opacity: 2;
}